<form  [formGroup]="AcceuilForm">
    <div class="form-group">
        <label for="textarea">Prenom : </label>
        <textarea id="textarea" class="form-control">Prenom</textarea>
      </div>
    <div class="form-group">
      <label for="textarea">Nom: </label>
      <textarea id="textarea" class="form-control">Nom</textarea>
    </div>
    <div class="form-group">
        <label for="textarea">Usename: </label>
        <textarea id="textarea" class="form-control">Username</textarea>
      </div>
      <div class="form-group">
        <label for="textarea">Password: </label>
        <textarea id="textarea" class="form-control">Password</textarea>
      </div>
    <div class="form-group">
      <label for="select">Roles: </label>
      <select id="select" class="form-control">
        <option>Role_Admin</option>
        <option>Role_Caissier</option>
      </select>
    </div>
    <button>Soumettre</button>
  </form>
  